
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

<hr />
<span>Privacy Content</span>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/CustomValidation.js"></script>
}
